.counter-holder{
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
}
.digito{
    color: black;
    font-weight: bold;
    font-size: 4rem;
    padding: 0.5rem;
}
.fondo-contador {
  background-color: orange;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.container {
 color: aliceblue;   
}